.gammacalendar {
    margin-top: 10px;
    color:#666;
}

.months {
    font-size: 10px;
    display: inline-block;
}

.month {
    width: 15px;
    float: right;
    margin-right: 2px;
}

.weeks {
    display: inline-block;
    overflow: hidden;
}

.week {
    float: left;
    margin-right: 2px;
}

.daysOfWeek {
    float: left;
    text-align: right;
    margin-right: 5px;
}

.daySpacer, .day {
    position: relative;
    margin-bottom: 2px;
    width: 15px;
    height: 15px
}

.daySpacer {
    float: right;
    margin-right: 1px;
}

.dayOfWeek {
    margin-bottom: 2px;
    font-size: 10px;
    line-height: 15px;
    height: 15px;
}

.day .tip{
    position: absolute;
    left: -117px;
    top: -117px;
    width:250px;
    height: 100px;
    padding: 3px;
    font-size: 11px;
    text-align: left;
    color: #D3D3D3;
    word-wrap: break-word;
    background-color: rgba(0,0,0,0.7);
    z-index: 10000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: none;
}
.day .tip a{
    color: #dae6ef;
}
.day .tip .tip-header{
    line-height: 20px;
    border-bottom: 1px solid #D3D3D3;
}
.day .tip .tip-header span{
    float: right;
    padding: 0 5px;
}
.day .tip .post-title{
    text-align: left;
    padding: 5px 0;
}
.day .tip .post-title a {
    color: #FF7F24;
}
.day .tip .post-tags span{
    padding: 0 3px;

}
.day .tip .tip-footer{
    line-height: 20px;
    text-align: right;
}
.day .tip .tip-footer span{
    padding: 0 5px;
}
.day .no-activity-tip{
    color: #ffffff;
    height: 40px;
    line-height: 40px;
    top: -60px;
    text-align: center;
}
.day .tip .tringle{
    position: absolute;
    display: inline-block;
    top:106px;
    left: 113px;
    border-top: 10px solid rgba(0,0,0,0.7);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.day .tip .no-activity-tri{
    top: 46px;
}
.day:hover {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: 1px solid #666;
}
.day:hover .tip{
    display: block;
}
.clear {
    clear: both;
}
.today {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: 2px solid #d8d8d8;

}
