/* -------------------------- *\
            RESET.CSS
\* -------------------------- */
body,p,dl,dd,blockquote,h1,h2,h3,h4,h5,h6,pre,table,td,th,ul,ol,li,hr,legend,fieldset,input,textarea,img,form {
    margin: 0;
    padding: 0;
}
body {
    color: #666;
    background-attachment: fixed;
    font: 16px Optima, Segoe, "Segoe UI", Candara, Calibri, Georgia, Verdana, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    background-image:radial-gradient(circle, #555, #333 90%);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.head a,.calendar-caption a,.foot a {
    position: relative;
    color: #198764;
    transition:all 0.2s;
}
.head a::before,.calendar-caption a::before,.foot a::before {
    position: absolute;
    left: 50%;
    bottom: 0;
    content: '';
    width: 0;
    height: 1px;
    transition:all 0.2s;
}
a:hover{
    color: #1E6823;
}
a:hover::before {
    left: 0;
    width: 100%;
    background-color: #1E6823;
}

@font-face {
    font-family: 'CELTG';
    src: url('../fonts/CELTG___.TTF');
}

.wrap {
    position: absolute;
    width: 750px;
    margin: 20px auto;
    background-color: #F8F8FF;
    border-radius: 5px;
    padding: 10px 0;
    left: 50%;
    top: 50%;
    transform:translateX(-50%) translateY(-50%);
    box-shadow:0 0 10px 10px #F8F8FF;
}
.head {
    position: relative;
    width: 100%;
    height: 135px;
}
.avatar {
    float: left;
    margin-left: 60px;
}
.avatar img {
    width: 125px;
    height: 125px;
    border-radius: 5px;
}
.vcard {
    float: left;
    margin-left: 10px;
}
.vcard-name {
    font-family: 'CELTG';
    font-size: 2.5em;
    padding: 0.4em 0;
}
.vcard-name .eye {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50% ;
    border: 2px solid #666;
    margin: 1px 2px;
    overflow: hidden;
}
.vcard-name .eye::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 8px;
    background-color: #666;
    border-radius: 50%;
    left: 6px;
    bottom: 1px;
}
.vcard-name .eye::after{
    position: absolute;
    content: '';
    width: 22px;
    height: 26px;
    background-color: #666;
    top: -20px;
}
.vcard-details .fa-map-marker {
    margin-left: 3px;
}
.intro {
    float: right;
    margin-right: 60px;
}
/* -------------------------- *\
            PANEL.CSS
\* -------------------------- */

.calendar-panel {
    width: 630px;
    margin: 0 auto ;
    border:1px solid #D3D3D3;
    border-radius: 3px;
}
.calendar-panel .title{
    background: #d8d8d8;
    padding-left: 5px;
    line-height: 2em;
    color: #222;
}
.panel-column {
    display: table-cell;
    width: 1%;
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid #D3D3D3;
    border-left: 1px solid #D3D3D3;
    border-bottom: none;

}
.first-panel-column{
    border-left: none;
}
.panel-column .text-muted{
    font-size: 12px;
    color: #666;
}
.panel-column .rls-number{
    display: block;
    font-size: 24px;
    color: #222;
}

/* -------------------------- *\
            CALENDAR.CSS
\* -------------------------- */
#calendar-container{
    position: relative;
    width: 630px;
    height: 200px;
}
.week{
    position: relative;
    float: left;
    text-align: center;
}
.day{
    position: relative;
    display: inline-block;
    background-color: #eee;
    border: 1px solid #eee;
}
.spareday{
    opacity: 0;
}
.today{
}
.month-label-wrap{
    position: relative;
}
.month-label-name{
    font-size: 12px;
    display: inline-block;
    color: #666;
}
.day-label-wrap{
    float: left;
    font-size: 12px;
    text-align: center;
}
.day-label-name{
    position: relative;
    display: inline-block;
    margin: 2px 0;
    color: #666;
}
.day:hover {
    border: 1px solid #666;
}
.day:hover > .contrib-tip,.day:hover > .triangle {
    visibility: visible;
}

.contrib-tip{
    position: absolute;
    width: 250px;
    height: 30px;
    top: -56px;
    font-size: 12px;
    text-align: center;
    padding: 15px 0 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 10000;
    visibility: hidden;
}

.article {
    width: 300px;
    height: 100px;
    top: -131px;
    text-align: left;
    color: #fff;
    padding: 10px 5px;
    line-height: 1.5em;
    font-size: 12px;
}
.article a {
    color: #ffff00;
}
.article a:hover {
    color: #FF5722;
    transition:all 0.5s;
}
.article-date {
    padding-bottom: 2px;
    border-bottom: 1px solid #fff;
}
.article-date span {
    float: right;
    padding: 0 3px;
}
.article-title {
    font-size: 16px;
    margin-top: 5px;
    text-shadow: 2px 1px 2px #ffff00;
}
.article-excerpt {
    margin: 5px 0 3px;
}
.article-tags span {
    font-size: 14px;
    padding: 0 3px;
    margin-left: 4px;
    border: 1px dotted rgba(255,255,0,0.5);
    border-radius:2px;
}
.article-tags span:hover {
    background-color: rgba(255,255,255,0.1);
    transition:all 0.5s;
}
.triangle{
    position: absolute;
    top: -11px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid  rgba(0,0,0,0.75);
    z-index: 10000;
    visibility: hidden;
}

.calendar-caption {
    position: absolute;
    font-size: 12px;
    bottom: 0.5em;
    color: #666;
    margin-left: 1em;
}

/* -------------------------- *\
            LICENSE.CSS
\* -------------------------- */

.foot{
    width: 630px;
    margin:10px auto ;
    border:1px solid #D3D3D3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

