body {
  font: 15px sans-serif;
}
.axis path,
.axis line{
  fill: none;
  stroke: #000;
  stroke-width:2;
  shape-rendering: crispEdges;
}
 line.ext{
    stroke:#000;
    stroke-width: 1.5px;
    stroke-dasharray:3,3; 
}
line.ext2,line.ext3,line.ext1{
    stroke: #000;
    stroke-width: 1.5px;
}
.marks{
	font-size: 15px;
}