@font-face {
    font-family: "godofwar";
    src:url(../fonts/GODOFWAR.TTF);
}

body {
    font:16px/1.5 "sans-serif";
    background-color: #33beff;
    color: #000;
}
.wrap {
    width: 75%;
    margin:0 auto;
    text-align: center;
    padding: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #eee;
    transform:translateX(-50%) translateY(-50%);
    box-shadow:inset -3px -3px 5px 0 rgba(0,0,0,0.75);
}
h1 {
    text-align: center;
}
.btn a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    box-shadow: inset -2px -2px 3px rgba(0,0,0,0.75);
    transition:all 0.5s;
    color: #000;
    background-color: rgba(0, 0, 0, 0.075);
}
.btn a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/* -------- *\
     left
\* -------- */
.left a {
    text-decoration: none;
    font-family: "godofwar";
    font-size: 2em;
    position: relative;
    color: #000;
    transition:all 0.5s;
}
.left a:before {
    position: absolute;
    content: "";
    top: 1em;
    left: 0;
    width: 0;
    height: 0.1em;
    transition:all 0.5s;
    background-color:#CC0000;
}
.left a:hover {
    color: #CC0000;
    text-shadow: 0 0 5px #CC0000;
}
.left a:hover:before {
    width: 100%;
}
/* -------- *\
     middle
\* -------- */
.middle a {
    text-decoration: none;
    font-family: "godofwar";
    font-size: 2em;
    position: relative;
    color: #000;
}
.middle a:before {
    position: absolute;
    content: "";
    top: 1em;
    left: 50%;
    width: 0;
    height: 0.1em;
    transition:all 0.5s;
    background-color:#CC0000;
}
.middle a:hover {
    color: #CC0000;
    text-shadow: 0 0 5px #CC0000;
}
.middle a:hover:before {
    width: 100%;
    left: 0;
}
/* -------- *\
     right
\* -------- */
.right a {
    text-decoration: none;
    font-family: "godofwar";
    font-size: 2em;
    position: relative;
    color: #000;
    transition:all 0.5s;
}
.right a:before {
    position: absolute;
    content: "";
    top: 1em;
    left: 100%;
    width: 0;
    height: 0.1em;
    transition:all 0.5s;
    background-color:#CC0000;
}
.right a:hover {
    color: #CC0000;
    text-shadow: 0 0 5px #CC0000;
}
.right a:hover:before {
    width: 100%;
    left: 0;
}