<div class="calendar-panel">
    <h3 class="title">Blog Activity</h3>

    <div class="calendar">

    </div>

    <div class="calender-footer">
        Summary of blog posts,including Notes <span class="notes-sq square"></span> ,Works <span class="works-sq square"></span> , and Site Revisions <span class="SR-sq square"></span> .
        Less Views <span class="square sq1"></span><span class="square sq2"></span><span class="square sq3"></span><span class="square sq4"></span><span class="square sq5"></span> More Views
    </div>
    <div class="panel-column first-panel-column">
        <span class="text-muted">Blog posts in all the time</span>
        <span class="rls-number">20 total</span>
        <span class="text-muted">Nov 17,2014 - Aug 6,2015</span>
    </div>
    <div class="panel-column">
        <span class="text-muted">Blog posts in the current year</span>
        <span class="rls-number">10 total</span>
        <span class="text-muted">Jan 1,2015 - Aug 6,2015</span>
    </div>
    <div class="panel-column">
        <span class="text-muted">Blog visitors in all the time</span>
        <span class="rls-number">1000 total</span>
        <span class="text-muted">Nov 17,2014 - Aug 6,2015</span>
    </div>
</div>
