<script>
    //h1 as title, h2 as subtitle
    (function() {
        var floaterParam = {
            "title": document.getElementsByTagName('h1')[0].innerText,
            "h2Collect": document.getElementsByTagName('h2'),
            "up": document.getElementsByClassName("nav-up")[0],
            "down": document.getElementsByClassName("nav-down")[0],
            "position": [],
            "cursor": 0,
            "preposition": 0,
            "trigHeit":100
        };
        if (floaterParam.h2Collect) {
            var arr = floaterParam.h2Collect;
            for (var i = 0; i < arr.length; i++) {
                floaterParam.position[i] = {
                    "txt": arr[i].innerText,
                    "heit": arr[i].offsetTop + floaterParam.up.clientHeight
                }
            }
            window.onscroll = function () {
                var scroll  = document.documentElement.scrollTop || document.body.scrollTop, pre = floaterParam.preposition;
                var left    = floaterParam.down.getElementsByClassName("left")[0],
                    middle  = floaterParam.down.getElementsByClassName("middle")[0],
                    pos     = floaterParam.position, len = floaterParam.position.length,delta = scroll - pre;

                if (scroll > floaterParam.trigHeit) {
                    floaterParam.down.style.cssText = "display:flex;position:fixed;";
                    middle.innerText = floaterParam.title;
                    if(scroll < pos[0].heit){
                        left.innerText = "";
                    }
                    else if(scroll > pos[len - 1].heit){
                        left.innerText = pos[len - 1].txt;
                    }
                    //scroll down
                    else if(delta >= 0){
                        while (scroll >= pos[floaterParam.cursor].heit) {
                            ++floaterParam.cursor;
                        }
                        left.innerText = pos[floaterParam.cursor - 1].txt;
                    }
                    //scroll up
                    else{
                        while (scroll < pos[floaterParam.cursor].heit) {
                            --floaterParam.cursor;
                        }
                        left.innerText = pos[floaterParam.cursor].txt;
                    }
                    floaterParam.preposition = scroll;

                }
                else {
                    floaterParam.down.style.cssText = "display:none;";
                    floaterParam.preposition = scroll,floaterParam.cursor = 0;
                }
            }
        }
    })();

</script>