<div id="header">
    <ul class="nav-up">
        <li><a href="http://xfloops.com"><i class="fa fa-home fa-3x"></i><span>HOME</span></a></li>
        <li><a href="#"><i class="fa fa-archive fa-3x"></i><span>ARCHIVE</span></a></li>
        <li><a href="#"><i class="fa fa-bars fa-3x"></i><span>MORE</span></a></li>
    </ul>
    <ul class="nav-down">
        <li class="left"></li>
        <li class="middle"></li>
        <li class="right">
            <a href="http://xfloops.com"><i class="fa fa-home fa-2x"></i></a>
            <a href="#"><i class="fa fa-archive fa-2x"></i></a>
            <a href="#"><i class="fa fa-bars fa-2x"></i></a>
        </li>
    </ul>
</div>