<div class="header">
            <a href="http://www.xfloops.com/"><img class="avatar" src="../images/xfloops.jpg"></a>
            <a href="http://segmentfault.com/u/xfloops" target="_blank"><img class="segmentfault" src="../images/icon/sf.jpg"></a>
            <a href="https://github.com/XfLoops"><img class="github" src="../images/icon/github.png"></a>
            <a href="mailto:xfloops@gmail.com"><img class="email" src="../images/icon/email.png"></a>
            <span class="more" >
                <img src="../images/more.png">
                <span class="more-item">
                      <a href="http://www.douban.com/people/xiefangli/"><img class="douban" src="../images/icon/douban.png"></a>
                      <a href="http://weibo.com/fanglixie" alt="新浪微博@XfLoops"><img class="weibo" src="../images/icon/weibo.png"></a>
                      <a href="http://www.jobbole.com/members/xfl0911/" alt="伯乐在线翻译"><img class="jobbole" src="../images/icon/jobbole.png"></a>
                </span>
            </span>

            <span class="owner wd"><a href="http://www.xfloops.com/">XfLoops</a></span>
            <span class="desc wd">as a Front End Developer for</span>
            <span class="time wd"></span>
</div>
<script type="text/javascript">
    var init = Date.parse('11/17/2014');
    var curr = new Date();
    document.getElementsByClassName("time")[0].innerHTML = Math.floor((curr.getTime() - init) / 86400000) + ' Days';

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65875413-1', 'auto');
    ga('send', 'pageview');



</script>

