<head>
    <meta charset="UTF-8">
    <title>XfLoops | Home</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/component.css">
    <link rel="stylesheet" href="css/gammacalendar.css">
    <script type="text/javascript" src="javascript/lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="javascript/lib/gammacalendar.js"></script>
    <script type="text/javascript" src="javascript/home.js"></script>
</head>
