<div class="avatar"><img src="../images/xfloops.jpg"></div>
<div class="vcard">
    <div class="vcard-name">
        XfL<span class="eye"></span><span class="eye"></span>ps
    </div>
    <ul class="vcard-details">
        <li><i class="fa fa-map-marker"></i> Beijing China</li>
        <li><i class="fa fa-envelope"></i><a href="mailto:xfloops@gmail.com"> xfloops@gmail.com</a></li>
    </ul>
</div>
<div class="intro">
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>