<div class="item">
    <div class="time-box">
        <div class="time">
            <span class="time-figure">5</span>d
            Ago
        </div>
    </div>
    <h2 class="title"><a href="../_post/2014-03-12-hvvm-and-php.md">Wrapping Third-Party Libraries for RequireJS</a></h2>
    <span class="tag">JavaScript</span>
    <span class="tag">RequireJS</span>
    <span class="tag">HTML5</span>
    <div class="abstract">
        Third-Party libraries sometimes come without AMD version. This post introduces a method to wrap them using shim. I'm going to take Three.js as example.Third-Party libraries sometimes come without AMD version. This post introduces a method to wrap them using shim. I'm going to take Three.js as example.
    </div>
    <div class="visit">(100 viewed  10 comments)</div>
</div>






