<div class="header">
<div class="control">
    <span></span>
    <span></span>
    <span></span>
    <ul class="option">
        <li id="show-panel"><i class="icon-eye-open"></i> Show Panel</li>
        <li id="hide-panel"><i class="icon-eye-close"></i> Hide Panel</li>
        <li><a href="/"><i class="icon-home"></i> Goto Home</a></li>
    </ul>
</div>
</div>
<div class="tag-panel">
    <ul class="nav">
        <li><a href="#">JavaScript</a></li>
        <li><a href="#">HTML5</a></li>
        <li><a href="#">CSS3</a></li>
        <li><a href="#">NOTE</a></li>
        <li><a href="#">ReqiureJS</a></li>
        <li><a href="#">JavaScript</a></li>
        <li><a href="#">HTML5</a></li>
        <li><a href="#">CSS3</a></li>
        <li><a href="#">NOTE</a></li>
        <li><a href="#">ReqiureJS</a></li>
        <li><a href="#">JavaScript</a></li>
        <li><a href="#">HTML5</a></li>
        <li><a href="#">CSS3</a></li>
        <li><a href="#">NOTE</a></li>
        <li><a href="#">ReqiureJS</a></li>
    </ul>
</div>
