<div class="vcard">
    <a class="vcard-avatar" href="http://www.xfloops.com"><img src="images/xfl-sm.jpg"></a>
    <ul class="vcard-details">
        <li class="detail">
            <h1>Fangli Xie</h1>
        </li>
        <li class="detail">
            <i class="fa fa-neuter"></i>
            <span>Beijing China</span>
        </li>
        <li class="detail">
            <i class="fa fa-weibo"></i>
            <a href="http://weibo.com/fanglixie">XFLOOPS</a>
        </li>

        <li class="detail">
            <i class="fa fa-envelope-o"></i>
            <a href="mailto:xfloops@gmail.com">xfloops@gmail.com</a>
        </li>
        <li class="detail">
            <i class="fa fa-clock-o"></i>
            <span>{{ site.time | date: "%A %d %b %Y"  }}</span>
        </li>
    </ul>
</div>