body,p,dl,dd,blockquote,h1,h2,h3,h4,h5,h6,pre,table,td,th,ul,ol,li,hr,legend,fieldset,input,textarea,img,form {
    margin: 0;
    padding: 0;
}
img,iframe {
    border: none;
}
blockquote,q {
    quotes: none;
}
body {
    color: #222;
    font: 16px/1.5 Optima, Segoe, "Segoe UI", Candara, Calibri, Georgia, Verdana, Arial, sans-serif;
    text-rendering: optimizeLegibility;
}
legend {
    color: #000;
    font-size: 1em;
}
h1,h2,h3,h4,h5 {
    color: #111;
    font-family: Palatino, "Palatino Linotype", 'OFL Sorts Mill Goudy', 'OFL Sorts Mill Goudy TT', Georgia, serif;
    font-weight: 700;
    margin-bottom: 1em;
}
a {
    text-decoration: none;
    position: relative;
    color: #007711;
    transition:all 0.5s;
}
a::before {
    content:"";
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    bottom:0;
    background-color:#FF5722;
    transition:all 0.5s;
}
a:hover {
    color:#FF5722;
}
a:hover::before {
    width: 100%;
    left: 0;
}
sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
ul ul{
    margin-left: 1em;
}
