<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XfLoops | Home</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    {% include baidu-stat.html %}
</head>
<body>

<div class="wrap">
    <div class="head">
        {% include head-index.html %}
    </div>
    <div class="main">
        <div class="calendar-panel">
            <h3 class="title">Blog Activity</h3>
            <div id="calendar-container"></div>
            <div class="panel-column first-panel-column">
                <span class="text-muted">Blog posts in the last year</span>
                <span class="rls-number last-year-posts"></span>
                <span class="text-muted last-year-posts-time"></span>
            </div>
            <div class="panel-column">
                <span class="text-muted">Longest streak</span>
                <span class="rls-number longest-streak"></span>
                <span class="text-muted longest-streak-time"></span>
            </div>
            <div class="panel-column">
                <span class="text-muted">Current streak</span>
                <span class="rls-number current-streak"></span>
                <span class="text-muted current-streak-time"></span>
            </div>
        </div>
    </div>
    <div class="foot">
        {% include license.html  %}
    </div>
</div>
<script type="text/javascript" src="javascript/lib/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="javascript/site.js"></script>
</body>
</html>



