<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html" charset="UTF-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <title>XFLOOPS</title>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum=1,width=device-width">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/newCalendar.css">
    <link rel="stylesheet" href="/css/listStyle.css">
</head>
<body>
<div class="container">
    <div class="vcard">
        <!-- @todo 跟图片对齐-->
        <a class="vcard-avatar" href="http://www.xfloops.com"><img src="/images/xfl-126px.jpg"></a>
        <ul class="vcard-details">
            <li class="detail name">
                <h1><a href="http://www.xfloops.com">XFLOOPS</a></h1>
            </li>
            <li class="detail">
                <i class="fa fa-quote-left"></i>
                <span class="quote">virtue makes own way</span>
            </li>
            <li class="detail">
                <i class="fa fa-weibo"></i>
                <a class="external" href="http://weibo.com/fanglixie">Weibo</a>
                <i class="fa fa-github"></i>
                <a class="external" href="https://github.com/XfLoops">Github</a>
            </li>

            <li class="detail">
                <i class="fa fa-envelope-o"></i>
                <span>xfloops[at]gmail.com</span>
            </li>
            <li class="detail">
                <i class="fa fa-calendar"></i>
                <span>{{ site.time | date: "%A %d %b %Y"  }}</span>
            </li>
        </ul>
    </div>
    <div ng-app="myApp" ng-controller="AppCtrl" class="calendar-container">
        <h4 class="calendar-title">博客活跃状态</h4>
        <div calendar class="calendar" id="calendar"></div>
    </div>
    <div class="main">
        <!-- @todo 添加选项卡仿照segmentfault-->
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#">文章列表<span class="badge">1</span></a>
            </li>
            <li><a href="#">动态</a></li>
            <li><a href="#">项目<span class="badge">1</span></a></li>
            <li><a href="#">声望</a></li>
            <li><a href="#">标签</a></li>
            <li><a href="#">回答<span class="badge">1</span></a></li>
            <li><a href="#">提问<span class="badge">1</span></a></li>
            <li><a href="#">收藏<span class="badge">1</span></a></li>
            <li><a href="#">关注<span class="badge">1</span></a></li>
        </ul>
        <ul class="content">
            {% for post in site.posts %}
            <li class="item">
                <a href="{{ post.url }}">{{ post.title }}</a>
                <span>{{ post.date | date_to_string }} </span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="license">
        {% include license2.html %}
    </div>
    <!--@todo 添加网站加载时间-->
    <div class="footer">Proudly powered by <a class="external" href="http://jekyll.bootcss.com/">Jekyll</a> and hosted by <a class="external" href="https://github.com/XfLoops">Github</a></div>
</div>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/moment/min/moment.min.js"></script>
<script src="/javascript/listScript.js"></script>
{% include baidu-stat.html %}
{% include statistic.html %}
</body>
</html>