<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XfLoops | Blog</title>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/component.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <script type="text/javascript" src="../javascript/lib/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../javascript/blog.js"></script>
</head>
<body>
<div class="wrap">
        <!-- @TODO 将文章列表设计成UNFOLD旋转45度的样式-->

        <h1 class="title">Blog Posts</h1>
        {% include tagPanel.html %}
        {% include item.html %}
        {% include item.html %}
        {% include item.html %}
        {% include item.html %}
        {% include item.html %}
        {% include item.html %}

</div>
</body>
</html>
