<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="xfloops,blog">
    <meta name="topic" content="whatever">
    <base href="http://xfloops.com">
    <title>xfloops</title>
</head>
<body style="font-family: monospace;background-color: #f9f9f9;">
{% include detail.html %}
{% include index.html %}
{% include statistic.html %}
</body>
</html>